.middle, .top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main {
    padding: 0 5% 5% 5%;
}

th {
    text-align: start;
}

.center{
    display: flex;
    align-items: center;
    margin-left: 50%;
}
.right {
    padding-right: 5%;
}

table{
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color:rgb(243, 243, 243)
}

.blank_row_1{
    height:2.5em;
    background-color: #FFFF;
}

.blank_row_2{
    height:2.5em;
    background-color: rgb(243, 243, 243)
}

.divider hr{
    margin-left:2%;
    margin-top:4%;
    height: 1.5em;
    background-color: rgb(40, 53, 146);
}

.last{
    display: flex;
    justify-content: center;
    color: rgb(230, 72, 151);
    font-size: large;
}

hr{
    background-color: rgb(243, 243, 243)
}

.top .right h1 {margin: auto;margin-bottom: 1.25rem;}