body{
    font-family: sans-serif;
}

.middle, .top{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.main {
    padding: 0 5% 5% 5%;
}

th {
    text-align: start;
}

.center{
    display: flex;
    align-items: center;
    margin-left: 50%;
}
.right {
    float: left;
    padding-right: 5%;
}

#invoice_heading{
    float: right;
    width: 100%;
    text-align: right;
}
#submitted{
    float: right;
    text-align: center;
}


table{
    border-collapse: collapse;
    
}
tr{
    padding-right: 0%;
}

tr:nth-child(even){
    background-color:rgb(243, 243, 243)
}

.blank_row_1{
    height:2.5em;
    background-color: #FFFF;
}

.blank_row_2{
    height:2.5em;
    background-color: rgb(243, 243, 243)
}

.divider hr{
    margin-left:2%;
    margin-top:4%;
    height: 1.5em;
    background-color: rgb(40, 53, 146);
}

.last{
    display: flex;
    justify-content: flex-end;
    color: rgb(230, 72, 151);
    font-size: 30px
}

hr{
    background-color: rgb(243, 243, 243)
}

.top .right h1 {margin: auto;margin-bottom: 1.25rem;}


@media only screen and (max-width: 280px){
    .middle{
        display: flex;
        flex-wrap: nowrap;
    }

    .top{
        display: flex;
        justify-content: space-between;
    }  

    .top .left{
        align-self: flex-start
    }
table{
    width: 100%;
}
table th:first-child{
    width:60%
}
table th{
    width:13%;
}
}

@media only screen and (max-width: 600px){
    .middle{
        display: flex;
        flex-wrap: nowrap;
    }

    table{
        width: 100%;
    }
    .top{
        display: flex;
        justify-content: space-between;
    } 
    .top .left{
        align-self: flex-start
    }
}